*,
:before,
:after {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  padding: 2rem;
  font-size: 150%;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 125%;
    padding: 1rem;
  }
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.heading {
  margin: 0;
}

.options {
  border: 1px solid dodgerblue;
  background-color: rgba(30, 144, 255, 0.1);
  padding: 2rem;
  border-radius: 4px;
}

.options div:first-child {
  margin-bottom: 0.5em;
}

.select {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  border: 1px solid #aaa;
}

/* Font styles */
body.is-roboto {
  font-family: Roboto;
}

body.is-ubuntu {
  font-family: Ubuntu;
}

body.is-noto {
  font-family: "Noto Serif";
}

/* Theme styles */
body.is-light {
  background-color: #fff;
  color: #000;
}

body.is-dark {
  background-color: #222;
  color: #fff;
}

body.is-dark .select {
  background-color: #333;
  border-color: #666;
  color: #fff;
}